/* FranklinGothic-300 - latin */
@font-face {
  font-family: "MaisonNeue";
  font-style: normal;
  font-weight: 300;
  src: local(""),  
    url("./MaisonNeue-Book.otf") format("opentype")
}

/* FranklinGothic-700 - latin */
@font-face {
  font-family: "MaisonNeue";
  font-style: normal;
  font-weight: 700;
  src: local(""),  
    url("./MaisonNeue-Demi.otf") format("opentype")
}