@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/elements/button.sass";
@import "bulma/sass/form/_all.sass";

@import "styles/colors.scss";

.extra-question {
  label {
    font-weight: 600;
    b {
      color: red;
    }
  }
  [id^=rl_wrapper] div {
    padding-top: 5px;
    &~ div {
      padding-top: 10px;
    }
  }
  input[type="checkbox"] {
    margin-right: 3px;
    &~ label {
      padding-left: 13px !important;
    }
  }
  h4 {
    font-weight: 400;
    font-size: 1em !important;
    line-height: 1;
    padding-top: 4px;
    margin-bottom: 0px;
  }
}

.error-label {
  color: red;
  display: block;
  font-size: 12px;
  font-weight: 700;
  margin: auto 0;
  padding: 0;
  &::before {
    content: "\f071";
    font-family: FontAwesome;
    padding-right: 5px;
  }
}

.button-save {
  float: right;
  margin-top: 20px;
}

.mandatoryDisclaimer::after {
  content: "*";
  position: relative;
  bottom: 2px;
  left: 20px;
  color: red;
  font-size: 1em;
  font-weight: 700;
}