@import "../../../styles/variables";

.ticket-popup-edit-details-form {
  .attendee-info {
    label {
      font-weight: 600;
      b {
        color: red;
      }
    }
    u {
      cursor: pointer;
    }
  }
  .error-label {
    color: red;
    display: block;
    font-size: 12px;
    font-weight: 700;
    margin: auto 0;
    padding: 0;
    &::before {
      content: "\f071";
      font-family: FontAwesome;
      padding-right: 5px;
    }
  }
  h4 {
    font-weight: 700;
  }
  .extra-question {
    label {
      font-weight: 600;
      b {
        color: red;
      }
    }
    [id^=rl_wrapper] div {
      padding-top: 5px;
      &~ div {
        padding-top: 10px;
      }
    }
    input[type="checkbox"] {
      margin-right: 3px;
      &~ label {
        padding-left: 13px !important;
      }
    }
    h4 {
      font-weight: 400;
      font-size: 1em !important;
      line-height: 1;
      padding-top: 4px;
      margin-bottom: 0px;
    }
  }
  .questions-form {
    padding-bottom: 2em;
  }
}